<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a></p>
    </div>

    <div class="row" id="featured_image">
        <div class="col-md-8">
            <h4>Featured Mars Image</h4>
            <img src="{{mars.featured_image_url}}" alt="Mars Image" style="width:100%">
        </div>

        <div class="row" id="mars-hemispheres">
            <div class="col-md-12">
                <h3>
                    <center>Mars Hemispheres</center>
                </h3>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <img src="{{mars.hemisphereImages.img_url}}">
                        <h3>{{hemispheres.title}}</h3>
                        <p>The four images of Mars' hemispheres.</p>

                        
                           <div class="row" id="mars_news">
        <div class="col-md-12">
            <h2>Latest Mars News</h2>
            <h4>{{mars.title}}</h4>
                                <p>{{mars.paragraphs}}</p>
                                <p>The most recent news going on with Mars.</p>
            
                    <div class="col-md-4">
                            <h4>Current Weather on Mars</h4>
                            <p>{{mars.mars_weather}}</p>
                            <p>The weather currently on Mars.</p>
                            <br>
                            <h4>Mars Facts</h4>
                            <p>Facts about Mars!</p>
                            <p>{{mars.facts_html_table}</p>
      </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
